<p id="notice"><%= notice %></p>

<p>
  <strong>Commentary:</strong>
  <%= @comment.commentary %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @comment.movie %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
