<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @rate.score %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @rate.movie %>
</p>

<p>
  <strong>User:</strong>
  <%= @rate.user %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
